#header {
	position: fixed;
	background-color: #BF0C2B;
	width: 100%;
	padding-top: 20px;
	box-sizing: border-box;
	z-index: 1;
}
#name {
	text-decoration: none;
	color: white;
    font-size: 30px;
	float: left;
	margin-bottom: 20px;
	margin-left: 20px;
}
#hamburger-button {
	float: right;
	padding: 3px;
	margin-top: 1px;
	margin-right: 20px;
}
#hamburger-button div {
	width: 30px;
	height: 4px;
	background-color: white;
	border-radius: 5px;
}
#hamburger-middle {
	margin: 5px 0;
}
#x-button {
	position: relative;
	float: right;
	padding: 3px;
	margin-right: 20px;
	height: 22px;
	top: 1px;
	display: none;
}
#line-1 {
	transform: rotate(-45deg) translate(-5px, 7px);
	-webkit-transform: rotate(-45deg) translate(-5px, 7px);
}
#line-2 {
	transform: rotate(45deg) translate(5px, 2px);
	-webkit-transform: rotate(45deg) translate(5px, 2px);
}
#x-button div {
	width: 30px;
	height: 4px;
	background-color: white;
	border-radius: 5px;
}
#header-menu {
	display: none;
	float: right;
}
#hamburger-button:target {
	display: none;
}
#hamburger-button:target + #x-button{
	display: block;
}
#hamburger-button:target ~ #header-menu {
	display: block;
	float: none;
	clear: left;
}
#hamburger-button:target ~ #header-menu > .header-button {
	float: none;
	display: block;
	background-color: #111111;
	border-bottom: solid 1px #444444;
	text-align: center;
}
#hamburger-button:target ~ #header-menu > .header-button:active {
	background-color: #333333;
}
.header-button {
	position: relative;
	text-decoration: none;
	color: white;
    font-size: 30px;
	float: left;
	transition: 0.3s;
}
.header-button:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: white;
	visibility: hidden;
	transform: scaleX(0);
	-webkit-transform: scaleX(0);
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
}
@media only screen and (min-width: 850px) {
	#hamburger-button {
		display: none;
	}
	#header-menu {
		display: block;
	}
	.header-button {
		padding: 0 15px;
	}
	.header-button:hover:before {
		visibility: visible;
		transform: scaleX(1);
		-webkit-transform: scaleX(1);
	}
}
#footer {
	background-color: #BF0C2B;
	text-align: center;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
}
