html {
	scroll-behavior: smooth;
}
body {
	background-color: #111111;
    color:white;
	font-family: sans-serif;
}
#content {
	position: relative;
	top: 200px;
}
#menus {
	display: flex;
	margin-bottom: 170px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#menus a {
	position: relative;
	text-align: center;
	font-size: 15px;
	color: white;
	text-decoration: none;
	text-shadow: 2px 2px 2px black;
	background-color: #BF0C2B;
	padding: 5px;
	border: solid 6px #BF0C2B;
	border-radius: 5px;
	margin: 10px;
	transition: 0.5s;
}
#menus a:hover {
	background-color: #BF0C2B00;
}
@media only screen and (min-width: 535px) {
	#menus a {
		font-size: 18px;
		padding: 10px;
	}
}
@media only screen and (min-width: 1000px) {
	#menus a {
		font-size: 25px;
		padding: 15px;
	}
}
.menu {
	border-bottom: solid 2px #BF0C2B;
	margin-bottom: 85px;
	padding-bottom: 85px;
}
#end {
	border-bottom: none;
	margin-bottom: 170px;
	padding-bottom: 0;
}
.title {
	position: relative;
	display: inline-block;
	font-size: 45px;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 90px;
	font-weight: 700;
}
.title:before {
	position: absolute;
	content: "";
	width: 50%;
	left: 50%;
	bottom: -10px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	border-bottom: solid 2px #F5900E;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
	grid-gap: 100px;
	width: 80%;
	margin: auto;
}
.grid-item div {
	width: 80%;
	float: left;
	font-size: 20px;
}
.grid-item h2{
	font-weight: 900;
	margin-bottom: 10px;
}
.price {
	position: relative;
	float: left;
	border-bottom: solid 2px #F5900E;
	font-weight: 700;
}
@media only screen and (min-width: 950px) {
	.grid-container{
		grid-template-columns: repeat(2, 1fr);
		width: 60%;
	}
}
.vegetarian {
	position: relative;
}
.vegetarian:before {
	position: absolute;
	top: -22px;
	font-size: 18px;
	content: "Vegetar!";
	color: green;
}
.best {
	position: relative;
}
.best:before {
	position: absolute;
	top: -22px;
	font-size: 18px;
	content: "Bestselger!";
	color: #F5900E;
}
@media only screen and (min-width: 520px) {
	.vegetarian:before {
		left: -60px;
		top: -15px;
		font-size: 20px;
		transform: rotateZ(-25deg) scale(0.8);
		-webkit-transform: rotateZ(-25deg) scale(0.8);
	}
	.best:before {
		left: -60px;
		top: -20px;
		font-size: 20px;
		transform: rotateZ(-25deg) scale(0.8);
		-webkit-transform: rotateZ(-25deg) scale(0.8);
	}
}
