body {
	background-color: #111111;
    color:white;
	font-family: sans-serif;
}
#content {
	position: relative;
	top: 150px;
}

/* Buttons that takes the user to different menu-pages */
#menus {
	display: flex;
	margin-bottom: 100px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#menus a {
	position: relative;
	text-align: center;
	font-size: 15px;
	color: white;
	text-decoration: none;
	text-shadow: 2px 2px 2px black;
	background-color: #BF0C2B;
	padding: 5px;
	border: solid 6px #BF0C2B;
	border-radius: 5px;
	margin: 10px;
	transition: 0.5s;
}

/* Menu-button-background becomes transparent when hovered over */
#menus a:hover {
	background-color: #BF0C2B00;
}
@media only screen and (min-width: 535px) {
	#menus a {
		font-size: 18px;
		padding: 10px;
	}
}
@media only screen and (min-width: 1000px) {
	#menus a {
		font-size: 25px;
		padding: 15px;
	}
}

/* Advertisement */
#offer {
	position: relative;
	width: 80%;
	height: 100px;
	margin: auto;
	overflow: hidden;
	margin-bottom: 100px;
}
#offer img {
	position: absolute;
	top: 50%;
	transform: translateY(0%, -50%);
	-webkit-transform: translateY(-50%);
}
#offer p {
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	font-size: 20px;
	font-weight: 100;
	font-family: 'Passion One';
	text-shadow: 2px 2px 2px #004400;
}

/* Resize */
@media only screen and (min-width: 500px) {
	#offer {
		height: 150px;
	}
	#offer p {
		font-size: 30px;
		font-weight: 300;
	}
}
@media only screen and (min-width: 860px) {
	#offer {
		height: 200px;
	}
	#offer img {
		left: 80%;
		transform: translate(-80%, -50%);
		-webkit-transform: translate(-80%, -50%);
	}
	#offer p {
		font-size: 50px;
		font-weight: 900;
		text-shadow: 2px 2px 10px #004400;
	}
}

/* Spaces up menus and puts a line between them */
.menu {
	border-bottom: solid 2px #BF0C2B;
	margin-bottom: 85px;
	padding-bottom: 85px;
}

/* Removes the line if it's the last menu */
#end {
	border-bottom: none;
	margin-bottom: 170px;
	padding-bottom: 0;
}

.title {
	position: relative;
	display: inline-block;
	font-size: 45px;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 90px;
	font-weight: 700;
}
.title:before {
	position: absolute;
	content: "";
	width: 50%;
	left: 50%;
	bottom: -10px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	border-bottom: solid 2px #F5900E;
}

/* Menus are structured in grids */
.grid-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
	grid-gap: 100px;
	width: 80%;
	margin: auto;
}
.grid-item div {
	width: 80%;
	float: left;
	font-size: 20px;
}
.grid-item h2{
	font-weight: 900;
	margin-bottom: 10px;
}
.price {
	position: relative;
	float: left;
	border-bottom: solid 2px #F5900E;
	font-weight: 700;
}
@media only screen and (min-width: 950px) {
	.grid-container{
		grid-template-columns: repeat(2, 1fr);
		width: 60%;
	}
}

/* Marks a dish as vegetarian */
.vegetarian {
	position: relative;
}
.vegetarian:before {
	position: absolute;
	top: -22px;
	font-size: 18px;
	content: "Vegetar!";
	color: green;
}

/* Marks the bestselling dish */
.best {
	position: relative;
}
.best:before {
	position: absolute;
	top: -22px;
	font-size: 18px;
	content: "Bestselger!";
	color: #F5900E;
}

/* Moves markers and resizes */
@media only screen and (min-width: 520px) {
	.vegetarian:before {
		left: -60px;
		top: -15px;
		font-size: 20px;
		transform: rotateZ(-25deg) scale(0.8);
		-webkit-transform: rotateZ(-25deg) scale(0.8);
	}
	.best:before {
		left: -60px;
		top: -20px;
		font-size: 20px;
		transform: rotateZ(-25deg) scale(0.8);
		-webkit-transform: rotateZ(-25deg) scale(0.8);
	}
}
