html {
	scroll-behavior: smooth;
}
body {
	background-color: #111111;
    color:white;
	font-family: 'Kosugi Maru', sans-serif;
}

#banner {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
#banner img {
	position: absolute;
	opacity: 0.5;
	top: 50%;
	left: 10%;
	transform: translate(-10%, -50%);
	-webkit-transform: translate(-10%, -50%);
}
@media only screen and (min-width: 1920px) {
	#banner img {
		width: 100%;
	}
}
@media only screen and (min-height: 1200px) {
	#banner img {
		height: 100%;
	}
}
#banner h1 {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
    font-family: 'Passion One', cursive;
	font-size: 50px;
	text-shadow: 2px 2px 2px black;
	color: #eeeeee;
}
#banner p{
    position: absolute;
	top: 60%;
	width: 100%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
    font-family: 'Passion One', cursive;
	font-size: 30px;
	text-shadow: 2px 2px 2px black;
	color: #eeeeee; 
}

@media only screen and (min-width: 535px) {
	#banner h1 {
		font-size: 60px;
        
	}
    #banner p{
        font-size: 40px;
    }
    
}
@media only screen and (min-width: 1000px) {
	#banner h1 {
		font-size: 80px;
	}
    #banner p{
        font-size: 50px;
    }
}
