body {
	background-color: black;
    color:white;
}
#header {
	background-color: #BF0C2B;
    padding: 20px;
}
#header div {
	display: inline;
	position: absolute;
	right: 20px;
}
#header a {
	text-decoration: none;
	color: white;
    font-size: 30px;
    margin: 20px;
    font-family: 'Kosugi Maru', sans-serif;
}