html {
	scroll-behavior: smooth;
}
body {
	background-color: #111111;
    color:white;
	font-family: sans-serif;
}
#banner {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
#banner img {
	position: absolute;
	opacity: 0.5;
	top: 50%;
	left: 10%;
	transform: translate(-10%, -50%);
	-webkit-transform: translate(-10%, -50%);
	filter: blur(3px);
	-webkit-filter: blur(3px);
}
@media only screen and (min-width: 1920px) {
	#banner img {
		width: 100%;
	}
}
@media only screen and (min-height: 1200px) {
	#banner img {
		height: 100%;
	}
}
#banner h1 {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
    font-family: 'Passion One', cursive;
	font-size: 50px;
	text-shadow: 2px 2px 2px black;
	color: #eeeeee;
}
#banner p{
    position: absolute;
	top: 60%;
	width: 100%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
    font-family: 'Passion One', cursive;
	font-size: 30px;
	text-shadow: 2px 2px 2px black;
	color: #eeeeee; 
}

@media only screen and (min-width: 535px) {
	#banner h1 {
		font-size: 60px;
        
	}
    #banner p{
        font-size: 40px;
    }
    
}
@media only screen and (min-width: 1000px) {
	#banner h1 {
		font-size: 80px;
	}
    #banner p{
        font-size: 50px;
    }
}
#news {
	padding-top: 170px;
	padding-bottom: 170px;
}
#veg {
	position: relative;
	width: 60%;
	height: 500px;
	overflow: hidden;
	margin: auto;
}
#veg img{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	opacity: 0.6;
}
#veg p {
	position: relative;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
	font-size: 50px;
	text-shadow: 2px 2px 2px black;
}
#veg a {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	text-align: center;
	font-size: 25px;
	color: white;
	text-decoration: none;
	text-shadow: 2px 2px 2px black;
	background-color: #BF0C2B;
	padding: 15px;
	border: solid 6px #BF0C2B;
	border-radius: 5px;
	transition: 0.5s;
}
#veg a:hover {
	background-color: #BF0C2B00;
}
.title {
	position: relative;
	display: inline-block;
	font-size: 45px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	margin-bottom: 90px;
	font-weight: 700;
}
.title:before {
	position: absolute;
	content: "";
	width: 50%;
	left: 50%;
	bottom: -10px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	border-bottom: solid 2px #F5900E;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
	grid-gap: 100px;
	width: 80%;
	margin: auto;
}
.grid-item div {
	width: 80%;
	float: left;
	font-size: 20px;
}
.grid-item h2{
	font-weight: 900;
	margin-bottom: 10px;
}
.price {
	position: relative;
	float: left;
	border-bottom: solid 2px #F5900E;
	font-weight: 700;
}
@media only screen and (min-width: 950px) {
	.grid-container{
		grid-template-columns: repeat(2, 1fr);
		width: 60%;
	}
}
#order {
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden;
}
#order img {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	opacity: 0.5;
	filter: blur(5px);
	-webkit-filter: blur(5px);
}
#order div {
	position: absolute;
	width: 35%;
	height: 350px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	background-color: #111111;
	opacity: 0.7;
}
#order h1 {
	position: relative;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	font-size: 45px;
	margin-top: 190px;
	margin-bottom: 30px;
}
#order h1:before {
	position: absolute;
	content: "";
	width: 50%;
	left: 50%;
	bottom: -10px;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	border-bottom: solid 2px #F5900E;
}
#order p {
	position: relative;
	text-align: center;
	font-size: 25px;
	margin: 40px;
}
