body {
	background-color: black;
    color:white;
	font-family: 'Kosugi Maru', sans-serif;
}
#header {
	background-color: #BF0C2B;
    padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
	width: 100%;
}
#name {
	
}
#header div {
	position: absolute;
	right: 0px;
}
#header a {
	text-decoration: none;
	color: white;
    font-size: 30px;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}
#banner img {
	
}
#footer {
	background-color: #BF0C2B;
	text-align: center;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	/*position: fixed;
	bottom: 0;*/
	width: 100%;
}
