html {
	scroll-behavior: smooth;
}
body {
	background-color: #111111;
    color:white;
	font-family: 'Kosugi Maru', sans-serif;
}
#header {
	position: fixed;
	background-color: #BF0C2B;
    padding: 20px;
	width: 100%;
	box-sizing: border-box;
	z-index: 1;
}
#hamburger {
	float: right;
}
#hamburger div {
	
}
#hamburger-middle {
	
}
#menu {
	display: none;
	float: right;
}
@media only screen and (min-width: 850px) {
	#menu {
		display: block;
	}
}
#header a {
	text-decoration: none;
	color: white;
    font-size: 30px;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}
.header-button {
	position: relative;
}
.header-button:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -2px;
	left: 0;
	background-color: white;
	visibility: hidden;
	transform: scaleX(0);
	-webkit-transform: scaleX(0);
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
}
.header-button:hover:before {
	visibility: visible;
	transform: scaleX(1);
	-webkit-transform: scaleX(1);
}
#banner {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
#banner img {
	opacity: 0.5;
}
@media only screen and (min-width: 1920px) {
	#banner img {
		width: 100%;
	}
}
#banner p {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	text-align: center;
	font-size: 50px;
	text-shadow: 2px 2px 2px black;
	font-weight: 900;
	color: #eeeeee;
}
#footer {
	background-color: #BF0C2B;
	text-align: center;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
}
